on:
 push:
   branches:
     - '*'
jobs:
 run_tests:
   runs-on: [ubuntu-latest]
   steps:
     - uses: actions/checkout@main
     - uses: actions/setup-python@v1
       with:
         python-version: '3.7'
         architecture: 'x64'
     - name: Install requirements
       run: pip install -r requirements.txt
     - name: Run tests
       run: python -m pytest app/tests/tests.py --disable-warnings